@import url("styles/header.css");
@import url("styles/footer.css");

@import url("styles/main-page.css");
@import url("styles/product-page.css");
@import url("styles/contact-page.css");

@import url("styles/about_us.css");
@import url("styles/history.css");
@import url("styles/certificates.css");

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, a, p, small {
  font-family: 'Archivo', sans-serif;
}

#about_us, 
#history, 
#our_products, 
#certificates, 
#contacts {
  display: none;
}
