
#about_us {
    width: 70%;
  height: 100vh;
  /* background-color: rgb(98, 85, 98); */
  font-size: 30px;
  font-weight: 900;
  font-family: sans-serif;
  color: #FFFFFF;
    height: 250vh;
    align-items: center;
    color: black;
    margin: 0 auto;
}

.about_img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.about_img img {
    width: 100%;
}

.about_second {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: left;
    color: black;
    margin-top: 55px;
    font-weight: 200;
    text-transform: none;
}

#second_1 {
    font-size: 30px;
    width: 30%;
    display: flex;
    align-items: center;

}

#second_2 {
    font-size: 25px;
    width: 60%;
    display: flex;
    align-items: center;

}


.about_third {
    height: 100vh;
    text-align: left;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.about_third > div {
    margin-top: 30px;    
}


#about_mission, #about_realize, #about_assist, #about_appreciate {
    color: #FF9900;
    font-size: 40px;
}

#about_protect, #about_there, #about_customers, #about_each {
    font-size: 35px;
    width: 100%;
}


@media (max-width: 768px) {
    #about_mission, #about_realize, #about_assist, #about_appreciate {
        color: #FF9900;
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    #about_us {
        height: 140vh;
        align-items: center;
        color: black;
    }
    
    .about_second {
        display: block;
        text-align: center;
    }

    #second_1 {
        font-size: 25px;
        width: 80%;
        margin: 0 auto;
    }
    
    #second_2 {
        font-size: 10px;
        width: 80%;
        margin: 0 auto;
    }

    #about_protect, #about_there, #about_customers, #about_each {
        font-size: 12px;
        width: 100%;
        margin: 0 auto;
        text-align: center;


    }
}

@media(max-height: 400px) {
    #about_us {
        height: 240vh;
    }
}

@media (max-width: 1008px) {
    #history {
        height: 10vh;
    }
}
