footer {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  gap: 20px;
}

.footer-logo {
  width: 90px;
  height: 90px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-logo a {
  color: #FFFFFF;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.footer-link div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo, 
.footer-link a, 
.footer-contact {
  font-family: sans-serif;
  color: #FFFFFF;
}

.footer-follow {
  transition: all 0.3s;
}
.footer-follow:hover {
  transform: scale(1.2);
}


@media(max-width: 800px) {
  .footer-logo {
    width: 50px;
    height: 50px;
  }

  
}